<body class="container">
    <div class="row" style="display: flex; justify-content: center; margin-top: 60px; margin-bottom: 150px;">
        <form class="form">
            <div class="row" style="justify-content: center; margin-bottom: 20px;">
                <span>
                    <a>
                        <img class="logo" src="assets/images/livro.png" alt="logo">
                    </a>
                </span>
            </div>
            <div class="row" style="justify-content: center; color: white;">
                <span>Entrar em Megbook</span>
            </div>
    
            <div class="row">
                <mat-form-field style="width: 250px; margin-top: 10px;">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="" name="nameClient" style="margin-top: 10px;">
                </mat-form-field>
            </div>
    
            <div class="row">
                <mat-form-field style="width: 250px; margin-top: 10px;">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                    </button>
                </mat-form-field>
            </div>
    
            <div class="row">
                <button mat-raised-button color="accent" style="width: 250px; margin-top: 20px;">
                    Entrar
                </button>
            </div>
    
            <div class="row">
                <button mat-raised-button color="accent" style="width: 250px; margin-top: 20px;">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</body>
