<div class="container-fluid">
    <megbook-toolbar [inputSideNav]="sideNav"></megbook-toolbar>
    <mat-sidenav-container style="min-height: 800px">
        <mat-sidenav #sideNav mode="over">
            <megbook-side-nav> </megbook-side-nav>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- <footer style="padding-right: 15px">
        <megbook-footer></megbook-footer>
    </footer> -->
</div>