<mat-card>
    <mat-card-title> Novo Cliente </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Digite seu nome" 
                [(ngModel)]="client.name"
                name="nameClient">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Digite o preço"
                [(ngModel)]="client.price"
                name="priceClient">
        </mat-form-field>
    </form>

    <div class="row buttonsAction">
        <button mat-raised-button (click)="createClient()" color="primary">
            Cadastrar
        </button>
        
        <button mat-raised-button (click)="cancel()" color="primary">
            Cancelar
        </button>
    </div>
    
</mat-card>