form {
    display:flex;
    position: relative;
    flex-direction: column;
}

button { 
    margin-top: 20px;
    margin: 15px;
}

.buttonsAction {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}