<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img
                    style="max-height: 50px"
                    src="./assets/images/livro.png"
                    alt="logo"
                />
            </div>
        </a>

        <a href="/" class="simple-text logo-normal"> Megbook </a>
    </div>

    <ul class="nav" style="list-style: none">
        <div>
            <li class="active">
                <a routerLink="/">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >home</mat-icon
                    >
                    <span style="margin: inherit">Dashboard</span>
                </a>
            </li>
        </div>

        <div>
            <li class="active">
                <a routerLink="/client/create">
                    <mat-icon>home</mat-icon>
                    <span style="margin: inherit">Manage Account</span>
                </a>
            </li>
        </div>

        <div>
            <li class="active">
                <a routerLink="/clients">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >home</mat-icon
                    >
                    <span style="margin: inherit">Clients</span>
                </a>
            </li>
        </div>
    </ul>
</div>
