<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img
                    style="max-height: 50px"
                    src="./assets/images/livro.png"
                    alt="logo"
                />
            </div>
        </a>

        <a href="/" class="simple-text logo-normal"> Megbook </a>
    </div>

    <ul class="nav" style="list-style: none">
        <div>
            <li class="active">
                <a routerLink="/">
                    <mat-icon aria-hidden="false">dashboard</mat-icon>
                    <span style="margin: inherit">Dashboard</span>
                </a>
            </li>
        </div>

        <div>
            <li class="active">
                <a routerLink="/client/create">
                    <mat-icon>person_add</mat-icon>
                    <span style="margin: inherit">Criar conta</span>
                </a>
            </li>
        </div>

        <div>
            <li class="active">
                <a routerLink="/clients">
                    <mat-icon aria-hidden="false">person_search</mat-icon>
                    <span style="margin: inherit">Clientes</span>
                </a>
            </li>
        </div>

        <div>
            <li class="active">
                <a routerLink="/client/order">
                    <mat-icon aria-hidden="false">local_shipping</mat-icon>
                    <span style="margin: inherit">Meus pedidos</span>
                </a>
            </li>
        </div>
    </ul>
</div>
