.header {
    display: flex;
    align-items: center;
    background-color: #311B92;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000
}

.header .logo{
    max-height: 50px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 10px;
}

.nameFantasia {
    padding: 20px 20px 20px 30px;
}