<mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
        
        <button mat-button [matMenuTriggerFor]="adminView" *ngIf="false">
            <i class="material-icons">menu</i>
        </button>

        <button mat-button [matMenuTriggerFor]="clientView" *ngIf="true">
            <i class="material-icons">menu</i>
        </button>

        <mat-menu #adminView="matMenu">
            <button mat-menu-item routerLink="">Home</button>
            <button mat-menu-item routerLink="">Perfil</button>
            <button mat-menu-item routerLink="">Vendas</button>
            <button mat-menu-item routerLink="">Estoque</button>
            <button mat-menu-item routerLink="">Controle de Trocas</button>
            <button mat-menu-item routerLink="/clients">Lista de Clientes</button>
        </mat-menu>

        <mat-menu #clientView="matMenu">
            <button mat-menu-item>Minha Conta</button>
            <button mat-menu-item [matMenuTriggerFor]="optionsEnderecoChildren">Endereços</button>
            <button mat-menu-item routerLink="/clients">Cartões</button>
            <button mat-menu-item routerLink="/clients">Meus Cupons</button>
            <button mat-menu-item routerLink="/clients">Transações</button>
        </mat-menu>

        <mat-menu #optionsEnderecoChildren="matMenu">
            <button mat-menu-item routerLink="/clients">Endereço de entrega</button>
            <button mat-menu-item routerLink="/clients">Endereço de cobrança</button>
        </mat-menu>

        <div class="logoMarca">
            <span>
                <a>
                    <img class="logo" src="assets/images/livro.png" alt="logo">
                </a>
            </span>

            <span class="nomeFantasia">Megbook</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

