.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000
}

.header .logo{
    max-height: 50px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logoMarca {
    display: flex;
    flex-direction: row-reverse;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.nomeFantasia{
    margin:10px;
}

.headerMeg {
    font-size: 16px;
    padding-top: 3px;
    margin-right: 10px;
    vertical-align: middle;
}

.menuLogo {
    display: flex;
}

.content {
    padding: 20px;
    height: 100%;
    position: relative;
    margin-bottom: 40px;
}

.example-container {
    min-width: max-content;
    min-height: max-content;
}

.example-sidenav {
    padding: 20px;
    width: 300px;
}