<mat-card-title> Atualize sua senha </mat-card-title>

<mat-card>
    <div>
        <div>
            <mat-form-field appearance="fill" class="col-md-12">
                <mat-label>Digite sua senha atual</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="container col-md-12" style="margin-top: 10px">
            <mat-label><b>A senha deve conter:</b></mat-label>

            <mat-label class="col-md-12">
                <ul style="display: flex; justify-content: space-around">
                    <li>Mínimo: 8 dígitos</li>
                    <li>Letra maiúscula</li>
                    <li>Letra minúscula</li>
                    <li>Caracter especial</li>
                </ul>
            </mat-label>
        </div>

        <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Digite sua nova senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{
                    hide ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Confirme sua nova senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>
                    {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    </div>
</mat-card>