.sidenav {
    width: 200px;
    background-color: #5C6BC0;
}

.sidenav a { 
    color: white;  
    height: 40px;  
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
}

.nav-list{
    background-color: #3949AB;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2100px;
}

.start-nav-list {
    margin-top: -10px;
}

.itensNav {
    font-size: 16px;
    line-height: 1;
}