<div class="container">
    <div class="row" style="margin: 20px">
        <mat-icon style="margin-right: 10px">shopping_basket</mat-icon>
        <mat-card-title style="padding-top: 07px;"> Meus pedidos </mat-card-title>
    </div>

    <div style="margin: 20px" class="row">
        <mat-card-title style="padding-top: 20px">
            Filtrar por:
        </mat-card-title>
        <mat-form-field appearance="fill" style="margin-left: 10px">
            <mat-label>Selecione o status</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="container">
        <div *ngFor="let order of orders" style="margin-top: 10px">
            <mat-card>
                <div class="col-md-12" style="display: flex; justify-content: space-between">
                    <mat-label class="col-md-3">NÚMERO DO PEDIDO</mat-label>
                    <mat-label class="col-md-2">STATUS</mat-label>
                    <mat-label class="col-md-2">DATA</mat-label>
                    <mat-label class="col-md-2">PAGAMENTO</mat-label>
                    <mat-label class="col-md-2">DETALHES</mat-label>
                </div>

                <div class="col-md-12" style="display: flex; justify-content: space-between">
                    <mat-label class="col-md-3">{{ order.id }}</mat-label>
                    <mat-label class="col-md-2">{{ order.status }}</mat-label>
                    <mat-label class="col-md-2">{{ order.dateOrder }}</mat-label>
                    <mat-label class="col-md-2">{{ order.payment }}</mat-label>
                    <mat-label class="col-md-2"><a href="/clients"> Ver detalhes</a></mat-label>
                </div>
            </mat-card>
        </div>
    </div>

</div>