table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color:  #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.toggle_on > i {
    color: #69f0ae;
}

.toggle_off > i {
    color: #7b1fa2;
}

.radionButtons {
    display: flex;
    justify-content: space-between;
}

.generoOption {
    margin-top: 20px;
    padding-top: 20px;
}