<div class="container">
    <mat-card style="margin-top: 20px; display: flex; justify-content: space-between;">
        <mat-card-title style="display: flex; justify-content: center; align-items: center;">
            DETALHES DO PEDIDO
        </mat-card-title>

        <ul style="list-style-type: none;">
            <li style="display: flex; justify-content: flex-end;">
                <mat-card-title style="color: #69f0ae;">100771</mat-card-title>
            </li>

            <mat-card-title style="color: #be7abb; margin-top: 20px;">ENTREGUE</mat-card-title>
        </ul>

    </mat-card>

    <div style="margin-top: 20px;">
        <mat-card>
            <mat-card-title>
                ENDEREÇO DE ENTREGA
            </mat-card-title>

            <div style="margin-top: 20px;">
                <mat-card>
                    <div>
                        <div class="container">
                            <mat-label style="font-size: x-large;">Casa da patroa</mat-label>
                        </div>
                    </div>

                    <div style="margin-top: 20px;">
                        <div class="col-md-6" style="display: flex; justify-content: space-between;">
                            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                <div>
                                    <mat-label>
                                        Rua
                                    </mat-label>
                                    <mat-label>Quitandinha </mat-label>
                                    <mat-label>nº 84</mat-label>
                                </div>

                                <div>
                                    <mat-label>Itaquaquecetuba - </mat-label>
                                    <mat-label>Jardim Tropical</mat-label>
                                </div>

                                <div>
                                    <mat-label>São Paulo - </mat-label>
                                    <mat-label>Brasil</mat-label>
                                </div>
                            </div>

                            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                <div>
                                    <mat-label>
                                        Apartamento
                                    </mat-label>
                                </div>
                                <div>
                                    <mat-label>
                                        08582-640
                                    </mat-label>
                                </div>
                                <div>
                                    <mat-label>
                                        <i>Minha casa fica nos fundos</i>
                                    </mat-label>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>

    <div style="margin-top: 20px;">
        <mat-card>
            <mat-card>
                <mat-card-title>
                    FORMA DE PAGAMENTO
                </mat-card-title>
            </mat-card>

            <mat-card style="margin-top: 20px;">
                <mat-card-title style="font-size: larger;">
                    CARTÕES
                </mat-card-title>

                <div style="margin-top: 20px;">
                    <mat-card class="col-md-5"
                        style="display: flex; flex-direction: column; height: 130px !important; background-color: black;">
                        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                            <mat-label>4785 4785 2145 2103</mat-label>
                            <mat-label>Visa</mat-label>
                        </div>

                        <div style="display: flex; justify-content: center; margin-top: 40px;">
                            <mat-label style="font-size: x-large;">THIAGO H ARAUJO</mat-label>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
        </mat-card>

        <mat-card style="margin-top: 20px;">
            <mat-card-title>
                CUPONS
            </mat-card-title>

            <mat-card>
                <mat-card-title style="font-size: larger; margin-top: 20px;">
                    TROCA
                </mat-card-title>
                <div style="margin-top: 20px; display: flex; flex-direction: row; justify-content: space-between;">
                    <mat-card class="col-md-3"
                        style="display: flex; justify-content: center; border-radius: 20%; background-color: #be7abb;">
                        <mat-label>VALEBOOK100</mat-label>
                    </mat-card>

                    <mat-card class="col-md-3"
                        style="display: flex; justify-content: center; border-radius: 20%; background-color: #be7abb;">
                        <mat-label>VALEBOOK20</mat-label>
                    </mat-card>

                    <mat-card class="col-md-3"
                        style="display: flex; justify-content: center; border-radius: 20%; background-color: #be7abb;">
                        <mat-label>VALEBOOK10</mat-label>
                    </mat-card>
                </div>
            </mat-card>


            <mat-card style="margin-top: 20px;">
                <mat-card-title style="font-size: larger; margin-top: 20px;">
                    PROMOCIONAL
                </mat-card-title>
                <div style="margin-top: 20px;">
                    <mat-card class="col-md-3"
                        style="display: flex; justify-content: center; border-radius: 20%; background-color: #69f0ae;">
                        <mat-label>VALEBOOK100</mat-label>
                    </mat-card>
                </div>
            </mat-card>


        </mat-card>
    </div>

    <div style="margin-top: 20px;">
        <mat-card style="margin-top: 20px;">
            <div class="container" style="display: flex; justify-content: space-between;">
                <mat-card-title>Items do pedido</mat-card-title>

                <button mat-stroked-button class="btn btn-outline-light" color="primary" style="width: 240px">
                    Solicitar Troca completa
                </button>
            </div>

            <mat-card style="margin-top: 20px;">
                <div class="row" style="display: flex; margin-top: 10px;">
                    <div class="col-md-3">
                        <mat-card class="imgProduct alingCenter styleBorder">
                            <img style="max-height: 100px" src="./assets/images/livro.png" alt="logo" />
                        </mat-card>
                    </div>

                    <div class="col-md-6 alingCenter" style="font-size: large;">
                        <ul style="list-style-type: none;">
                            <li style="margin-top: 20px;">
                                <mat-label style="color: #69f0ae;">
                                    <b>Código limpo: Habilidades práticas do Agile Software</b>
                                </mat-label>
                            </li>
                            <li style="margin-top: 20px;">
                                <mat-label>1 unidade</mat-label>
                            </li>
                            <li style="margin-top: 20px;">
                                <mat-label>R$ 72,99</mat-label>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-3 alingCenter">
                        <ul style="list-style-type: none;">
                            <li>
                                <button mat-stroked-button class="btn btn-outline-light" color="accent"
                                    style="width: 140px">
                                    Visualizar Produto
                                </button>
                            </li>
                            <li>
                                <button mat-stroked-button class="btn btn-outline-light" color="accent"
                                    style="width: 140px; margin-top: 20px;">
                                    Solicitar Troca
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </mat-card>
        </mat-card>

    </div>
</div>